<div class="container">
  <h3 mat-dialog-title *ngIf="data.mode === 'add'">Adding new fakultet</h3>
  <h3 mat-dialog-title *ngIf="data.mode === 'update'">Edit fakulteta</h3>
  <form class="mat-dialog-content" #formControl="ngForm">
    <div *ngIf="data.mode === 'update'">
        <mat-form-field>
            <mat-label>ID</mat-label>
            <input matInput [(ngModel)]="fakultet.id" [readonly]= "true", name='id'>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Naziv</mat-label>
            <input matInput [(ngModel)]="fakultet.naziv" name='naziv'>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Sedište</mat-label>
            <input matInput [(ngModel)]="fakultet.sediste" name='sediste'>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>

        <button mat-button (click)="cancel()">Cancel</button>

        <!-- ADD -->
        <button *ngIf="data.mode === 'add'"
                mat-raised-button
                color="primary"
                (click)="create()">
            Add
        </button>

        <!-- UPDATE -->
        <button *ngIf="data.mode === 'update'"
                mat-raised-button
                color="accent"
                (click)="update()">
            Update
        </button>


    </div>
  </form>
</div>
